.dropdown_btn_set button {
  background: var(--orange);
  color: var(--fff);
  font-size: 14px;
  font-family: var(--bold);
  text-transform: inherit;
  border-radius: 4px;
  width: 141px;
  height: 40px;
}

.dropdown_btn_set button:hover {
  background: var(--orange);
}

.arrow {
  width: 24px;
}
