.table_container {
  padding: 5px 20px;
  background: #fff;
}

.table_heder_text {
  font-size: 16px;
  color: #090909;
  font-family: var(--semiBold);
  text-align: start;
  padding-bottom: 0.5rem;
}

.table_total_users {
  font-size: 16px;
  color: #7f8389;
  font-family: var(--regular);
  margin-right: 30px;
  text-align: start;
}

.table_header {
  position: absolute;
  left: 0;
}

.relative_table {
  position: relative;
}

.table_container::-webkit-scrollbar {
  display: block !important;
}

@media screen and (max-width: 500px) {
  .table_header {
    position: inherit;
    margin-bottom: 1rem;
  }
}
