.terms {
  padding-top: 120px;
}

.terms {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.terms > h1 {
  font-size: 32px;
  font-family: var(--font-bold);
  margin-bottom: 16px;
}

.terms p {
  font-size: 14px;
  font-size: var(--font-semibold);
}
.terms h1 + p {
  font-family: var(--font-regular-Quicksand);
  font-size: 14px;
  color: #ffffff60;
}

.terms h2,
.terms h3 {
  font-size: 16px;
  text-decoration: underline;
  margin: 20px 0;
}

.terms section {
  margin-bottom: 40px;
}

.terms ul {
  margin: 20px 0;
}
.terms section ul li {
  list-style: disc;
  padding-left: 10px;
  margin-left: 15px;
}
.terms strong {
  font-family: var(--font-bold);
}

.terms li + li {
  margin-top: 20px;
}
.terms p {
  word-spacing: 2px;
}

.terms ul ul {
  padding-left: 50px;
  list-style: circle !important;
}


/* scroll to top */

.back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #8916bf;
  color: white;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 2147483647; /* very high to avoid overlays */
  pointer-events: auto;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}
.back-to-top-btn:hover { 
   background-color: #520486;
   box-shadow: 0 8px 25px rgba(56, 2, 113, 0.5);
  }

/* Mobile view for Back to Top button */
@media (max-width: 768px) {
  .back-to-top-btn {
    position: fixed !important;
    top: 850px !important;
    right: 20px !important;
    width: 45px;
    height: 45px;
    font-size: 22px;
    z-index: 999999 !important;
    pointer-events: auto !important;
    opacity: 1 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}